
    <div class="row background-white mobile-padding-top-bottom-2_5 padding-top-bottom-2_5 value_row">


      <div class="col-2 mobile-col-0"></div>

      <div class="col-9 mobile-col-12 padding-left-5">

        <div class="row">

          <div class='col-3 mobile-col-4 landscape-col-3'>
            <img class='width-100' src="./assets/images/elements_1.png"/>
            <h6 class="mobile-font-18 landscape-font-16 a bold akrobat font-25 text-center ">
              Detailed Cleaning
            </h6>
            <p class="mobile-font-16  akrobat font-18 margin-left-2_5 text-center desktop_visible_only">
              A business that looks well maintained is successful.
              Our company specializes in cleaning windows to lessen you
            </p>
          </div>
          <div class="col-1"></div>

          <div class='col-3 mobile-col-4 landscape-col-3'>
            <img class='width-100' src="./assets/images/elements_2.png"/>
            <h6 class="mobile-font-18 landscape-font-16 a bold akrobat font-25 text-center ">
              Green Friendly
            </h6>
            <p class="mobile-font-16 krobat font-18 text-center desktop_visible_only">
              A business that looks well maintained is successful.
              Our company specializes in cleaning windows to lessen you
            </p>
          </div>
          <div class="col-1"></div>


          <div class='col-3 mobile-col-4 landscape-col-3'>

            <img class='width-100' src="./assets/images/elements_3.png"/>
            <h6 class="mobile-font-18  landscape-font-16  bold akrobat font-25 margin-left-2_5 text-center">
              48 Hour Raincheck
            </h6>
            <p class="mobile-font-16 akrobat font-18 margin-left-2_5 text-center desktop_visible_only ">
              A business that looks well maintained is successful.
              Our company specializes in cleaning windows to lessen you
            </p>
          </div>


        </div>
        <div class="col-1 mobile-col-0 landscape-col-0"></div>


      </div>

    </div>
