<div class="about_container">

    <div class="row about_row">

        <div class="col-3 mobile-col-1"></div>

        <div class="col-6 mobile-col-10">
            <p class="about_title "> Our Mission </p>
            <p class="about_description">
              Our mission is to revolutionize the facility services industry by fostering a team of people who care about the local community and are passionate about the customer.
            </p>

        </div>

    </div>



</div>
