
    <div class="row value_row about_value_row">


      <div class="col-1 mobile-col-0"></div>

      <div class="col-10 mobile-col-12 value_col">

        <div class="value_inner_row row ">

            <div class="col-3">


                <div class="value_box">
                    <i class="value_icon icon-basic-heart "></i>
                    <p class="value_box_title">
                        We Care About the Planet
                    </p>
                    <p class="value_box_subtitle">
                        We Care About the Planet
                          We Care About the Planet
                            We Care About the Planet
                              We Care About the Planet
                                We Care About the Planet  We Care About the Planet

                    </p>
                </div>


            </div>

            <div class="col-3">


                <div class="value_box">
                    <i class="value_icon icon-basic-cloud "></i>
                    <p class="value_box_title">
                        We Care About the Planet
                    </p>
                    <p class="value_box_subtitle">
                        We Care About the Planet
                          We Care About the Planet
                            We Care About the Planet
                              We Care About the Planet
                                We Care About the Planet  We Care About the Planet

                    </p>
                </div>


            </div>

            <div class="col-3">


                <div class="value_box">
                    <i class="value_icon icon-basic-world "></i>
                    <p class="value_box_title">
                        We Care About the Planet
                    </p>
                    <p class="value_box_subtitle">
                        We Care About the Planet
                          We Care About the Planet
                            We Care About the Planet
                              We Care About the Planet
                                We Care About the Planet  We Care About the Planet

                    </p>
                </div>


            </div>

            <div class="col-3">


                <div class="value_box">
                    <i class="value_icon icon-basic-gear "></i>
                    <p class="value_box_title">
                        We Care About the Planet
                    </p>
                    <p class="value_box_subtitle">
                        We Care About the Planet
                          We Care About the Planet
                            We Care About the Planet
                              We Care About the Planet
                                We Care About the Planet  We Care About the Planet

                    </p>
                </div>


            </div>

        </div>

        <div class="col-1 mobile-col-0 landscape-col-0"></div>

      </div>

    </div>
