
    <div class="row value_row">

      <div class="col-1 mobile-col-0"></div>

      <div class="col-10 mobile-col-12 value_col">

        <div class="value_inner_row row ">

            <div class="col-3 value_col">

                <div class="value_box">

                    <i class="value_icon icon-basic-heart "></i>

                    <p class="value_box_title">
                        We Care About the Planet
                    </p>

                    <p class="value_box_subtitle">
                        We only use products that are friendly to the planet and
                        We will never use hard chemicals or wasteful products on the job and use products that are not only safe for the planet but also non-toxic for people and animals as well.

                    </p>

                </div>

            </div>

            <div class="col-3 value_col">


                <div class="value_box">
                    <i class="value_icon icon-basic-cloud "></i>

                    <p class="value_box_title">
                        48-Hour Rain-Check Promise
                    </p>

                    <p class="value_box_subtitle">
                      One of the most frustrating things is having your windows clean only to have it rain the next day.
                      That's why we are happy to come back and clean the exterior again for free if it rains within 48-hours of us cleaning the windows!
                    </p>
                </div>

            </div>

            <div class="col-3 value_col">


                <div class="value_box">
                    <i class="value_icon icon-basic-world "></i>
                    <p class="value_box_title">
                      A Passion for Service
                    </p>

                    <p class="value_box_subtitle">
                        Our team is always happy to be helping you! We view it as an honor to be chosen by you out of all the other companies and we will work hard to
                        make you satified with our service. We promise to always make your windows spotless with a friendly smile!
                    </p>

                </div>

            </div>

            <div class="col-3 value_col">

                <div class="value_box">

                    <i class="value_icon icon-basic-gear "></i>

                    <p class="value_box_title">
                      Flexible Schedule
                    </p>

                    <p class="value_box_subtitle">
                      We are aware of how busy businesses and residence are so we make it our top priorty to work around your schedule.
                      Our team starts as early as 4 in the morning and even do cleanings in the afternoon and evening. We promise to make sure to work with your busy schedule and clean when it most convenient to you!
                    </p>

                </div>

            </div>

        </div>

        <div class="col-1 mobile-col-0 landscape-col-0"></div>

      </div>

    </div>
