<div class="showcase_container">

  <div class="row">

      <div class="col-4 logo_col">

          <div class="logo_container light-blue-background" >
            <img src = "./assets/images/logo.png"class="width-100" />
          </div>

          <div class="showcase_background turquoise-background">  </div>

      </div>

  </div>

      <div class="intro-text-container ">

          <div class="cfs-heading-background cfs-heading-background--1">
                <p class="cfs-heading"><%= showcase.heading_1 %></p>
          </div>

            <div class="cfs-heading-background cfs-heading-background--2" >
                <p class="cfs-heading"><%= showcase.heading_2 %></p>
            </div>

        <div class="banners row relative">

            <div class="col-12">

              <div class='row relative'>
                <div class="col-12 dark-blue-background padding-2 mobile-padding-5"></div>
                <div class="col-9 padding-2 light-blue-background mobile-padding-5"></div>
              </div>

          </div>

        </div>
    </div>

  <div class="showcase_image_container">
      <img src ='<%= showcase.showcase_img %>' class="width-100 showcase_image" style="height:100vh" id="mobile_showcase"/>
  </div>

</div>
