<div class="image_container_before relative">
    <img class="width-100" src="./assets/images/before_1.png"/>
    <p class="text-banner absolute width-50 "style="top:0;left:0">Before </p>
</div>

<div class="image_container_after relative">
    <img class="width-100" src="./assets/images/after_1.png"/>
    <p class="text-banner absolute width-50 "style="bottom:0;right:0">After </p>
</div>
