<div class='width-100'>


        <% if(before_and_after_images.length >0){%>

          <% for(let images of before_and_after_images) { %>



                  <img class=" width-100 height-100 relative" src ="<%= images.before %>" />
                  <img class=" width-100 height-100" src ="<%= images.after %>"  />


          <%}%>

        <%}%>



</div>
