<div class="quotesheet_wrapper">

  <p class="quote_banner text-banner">Free Quote! </p>

    <div class="quotesheet_box heavy_shadow">

      <div class="quotesheet_container " >

        <p class="quotesheet_title">Make Your Windows Shine Today!</p>

        <form action="/modal" method="POST">

        <div class="row padding-bottom-small">

            <div class="col-12">

                <label>
                    First Name
                </label>

                <input class="form-control quote_input " name="firstName" placeholder="Enter first name" />

            </div>


            <div class="col-12">

                <label>
                    Last Name
                </label>

                <input class="form-control quote_input" name="lastName" placeholder="Enter last name" />

            </div>

            <div class="col-12">

                <label>
                    Screen Count
                </label>

                <input class="form-control quote_input "  type="number" name="screenCount" placeholder="Enter Screen Count" />

            </div>

            <div class="col-12">

                <label>
                    Windows Less than 4X4 Ft
                </label>

                <input class="form-control quote_input"  type="number" name="smWindowCount" placeholder="Enter Window Count" />

            </div>

            <div class="col-12">

                <label>
                    Windows Bigger than 4X4 and Less than 8X8 Ft
                </label>

                <input class="form-control quote_input"  type="number" name="mdWindowCount" placeholder="Enter Window Count" />

            </div>

            <div class="col-12">

                <label>
                    Windows Bigger than 8X8 Ft
                </label>

                <input class="form-control quote_input"  type="number" name="lgWindowCount" placeholder="Enter Window Count" />

            </div>

            <div class="col-12">
                <input type="hidden" name="key" value = <%= active_path %> placeholder="Enter first name" />
            </div>

            <div class="col-3"></div>

            <div class="col-6 margin-top-small">
              <button class="width-100 quotebutton btn"type="submit"> Receive Quote</button>
            </div>

            <div class='col-3'></div>

            </form>

          </div>

    </div>

</div>
