

@media screen and (max-width:944px){

  .what_we_do_image{
    width:140% !important;
    height:700px !important;
  }

  .about_container{
    margin-top:120% !important;
  }

  .what_we_do_image{
    height:700px;
    width:1000px;
  }


  .intro-text-container{
    top:80%;
  }

  .text-container{
    height:500px !important;
  }


}
