
.we_clean_inner{
  background:url('./../images/services.png');
  background-size:cover
}
.p_row{
  left:-5% !important;
}

@media screen and (max-width:844px){
  .meet_owners_container{
    margin-top:140% !important;
  }
  .mobile_text_banner_out_clients{
    left: -60% !important;
    position: absolute;
    text-align:center !important;
    width:140% !important;
    font-size: 40px;
  }
  .contact_us_con{
    margin-top:15% !important;
  }


  .showcase_client{
    height:150px !important;
  }

}
