.text-banner {
  color:white;
  font-family: 'Akrobat';
  text-align:center;
  font-size:40px;
  font-weight:bold;
  padding:1%;
  background:#00103d
}

.red-bottom-border{
  border-bottom:2px solid red;
}
.font-35{
  font-size:35px;
}
.width-45{
  width:45%;
}
.margin-top-70{
  margin-top:70%;
}
.padding-bottom-10{
  padding-bottom:10%;
}
.font-40{
  font-size:40px
}
.font-30{
  font-size:30px;
}
.white{
  color:white;
}

.padding-left-5{
  padding-left:5%;
}
.padding-bottom-15{
  padding-bottom:15%;
}
label{
    margin-top:2.5%;
    font-family:"Akrobat";
    font-size:17px;
}
.dark-navy-background{
  background:#014884
}
.light-navy-background{
  background:#013d84
}
.padding-bottom-2_5{
  padding-bottom:2.5%;
}
.padding-top-2_5{
  padding-top:2.5%;
}
.min-z{
  z-index:-1;
}
.black-bottom-border{
  border-bottom:2px solid black !important;

}
.no-radius{
  border-radius:0px
}
.height-100{
  height:100%;
}
.font-20{
  font-size:20px;
}
.margin-top-20{
  margin-top:20%;
}
.padding-bottom-15{
  padding-bottom:15%;
}
.white-background{
  background:white;
}
.width-40 {
  width:40%;
}
.height-650px{
  height:650px ;

}
.height-900px{
  height:900px;
}
.height-700px{
  height:700px;
}
.absolute {
  position: absolute;
}
.top--5{
  top:-5%;
}
.font-25{
  font-size:25px;
}
.max-z{
  z-index:999
}
font-30{
  font-size:30px
}
.visible {
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.opacity-0{
  opacity:0
}
.opacity-1{
opacity:1;
}
.width-90{
  width:90%;

}
.super-max-z{
  z-index:999999;
}
.transparent{
  background: transparent;
}
.border-radius-30px{
  border-radius: 30px;
}
.italic{
  font-style: italic;
}
.border-radius-5px{
  border-radius:5px
}

.background-modal{
  background:#1B1742;
}
.padding-bottom-2_5{
  padding-bottom:2.5%
}
.border-color-white{
  border-color:white
}
.width-90{
  width:90%;
}


.font-16{
  font-size: 16px;
}
.heavy-shadow{
  box-shadow:1px 1px 9px 2px black;
}
.font-25{
  font-size: 25px;
}
.gray-border{
  border:2px solid #e6e6e6;
}
.padding-bottom-15{
  padding-bottom:15%
}
.margin-bottom-5{
  margin-bottom:5%;
}
.margin-top-20{
  margin-top:20%;
}
.padding-5{
  padding:5%;
}
white-background{
  background:white;
}


.white{
  color:white;
}
.no-background{
  background:none !important;
}

.margin-top-5{
  margin-top:5%;
}
.margin-top-10{
  margin-top:10%;
}
.margin-bottom-5{
  margin-bottom:5%;
}

  .padding-5{
    padding:5%;
  }
  .dark-blue-background{
    background: #0c0300;
  }

  .cfs-heading-background{
        background: #00103d;
  }
  .turquoise-background{
    background:#226D99 !important;
  }
  .light-blue-background{
    background: #00b1ff;
  }
  .padding-10{
    padding:10%;
  }
  .padding-2{
    padding:2%;
  }
  .width-45{
    width:45%;
  }
  .width-75{
    width:75%;
  }

.akrobat {
  font-family: "Akrobat";
}
.margin-left-2_5{
  margin-left: 2.5%;
}
.bold{
  font-weight: bold !important;

}
.top-35px{
  top:0px
}
.white{
  color:white;
}
.font-35{
  font-size: 35px !important;

}
.no-space{
  letter-spacing: 0px !important;

}
.relative{
  position:relative;
}
.margin-top-2_5{
  margin-top: 2.5%;
}
.darkbluebackg{
  background:#0080b8
}
.margin-top-25{
  margin-top:25%;
}
.font-40px{
  font-size:40px;
}
.width-40{
  width:40%;
}
.padding-1{
  padding:1%;
}

.foreground{
  position: relative;
  z-index:99;
}
.width-100{
  width:100%;
}

.no-border{
  border:none;
}

.width-50{

  width:50%;
}
.no-pad{
  padding:0;
}

.padding-left-5{
  padding-left:5%;
}
.background-1{
  background:#00103d !important;
}
.absolute{
  position:absolute;
}
.padding-top-bottom-15{
  padding-top:15%;
  padding-bottom:15%;
}
.background{
  position: relative;
  z-index:9;
}
.width-80{
  width:80%;
  margin-left: 0% !important;
}
.b013{
  background:#00103d
}
.padding-1{
  padding:1%;
}
.margin-top-5{
  margin-top:5%;
}


@media screen and (max-width:844px){
  .mobile-col-1{
    width:8.3333333333% !important;
    flex: 0 0 8.3333333%;
    max-width:8.3333333333% !important
  }
  .mobile-margin-top-10{
    margin-top:10% !important;
  }
  .mobile-col-10{

      width:83.333333333% !important;
      padding-bottom:5%;
      max-width:83.33333333% !important;
      flex: 0 0 83.333333333% !important;

  }
  .mobile-margin-left-22_5{
    margin-left:22.5% !important;
  }
  .mobile-text-center{
    text-align:center;
  }
  .mobile-col-12{

      width:100% !important;
      padding-bottom:5%;
      max-width:100% !important;
      flex: 100% !important;

  }
  .mobile-height-120{
    height:120%;
  }
  .mobile-padding-5{
    padding:5% !important;
  }
  .mobile-width-80{
    width:80% !important;
  }
  .mobile-width-90{
    width:90% !important;
  }
  .mobile-top-35px{
    top:35px;
  }
  .mobile-width-100{
    width:100% !important;
  }
  .mobile-width-120{
    width:120% !important;
  }
  .mobile-width-110{
    width:110% !important;
  }
  .mobile-height-600px{
    height:600px;
  }
  .mobile-font-25{
    font-size:25px !important;
  }
  .mobile-padding-10{
    padding:10% !important;
  }
  .mobile-width-80{
    width:80% !important
  }
  .mobile-height-100{
    height:100% !important
  }
  .mobile-width-100{
    width:100% !important;
  }
  .mobile-margin-top-0{
    margin-top: 0% !important;
  }
  .no-border{
    border:none;
  }
  .mobile-padding-top-10{
    padding-top:10% !important;
  }
  .mobile-padding-bottom-10{
    padding-bottom: 10%;
  }
  .mobile-text-left{
    text-align: left !important;
  }
  .mobile-margin-top-70{
    margin-top:70% !important
  }
  .margin-left-2_5{
    margin-left:2.5%;
  }
  .mobile-margin-top-20{
    margin-top:20% !important;
  }
  .mobile-margin-top-10{
    margin-top:10% !important;
  }
  .no-col{
    max-width:0% !important;
    width:0% !important;
    flex:0%;
  }
  .mobile-col-11{
    max-width: 95% !important;
    width:95% !important;
    flex:  0 0 95%;
    margin-left:2.5%;
  }
  .mobile-margin-left-2_5{
    margin-left:2.5%;
  }

  .mobile-height-100{
    height:100% !important;
  }


  .mobile-margin-top-10{
    margin-top:10%;
  }
  .mobile-margin-top-15{
    margin-top:15%;
  }

  .mobile-width-100{
    width:100% !important
  }

  .mobile-half-middle{
    width:50% !important;
    margin-left:25% !important;
  }

  .mobile-font-25{
    font-size:24px !important;
  }

  .mobile-text-center{
    text-align: center !important;
  }

}
