
.intro-row{
  top:65%;
  left:-5%;
}
.supportbox{
  left:10% !important;
}
.about_us{
  margin-top:15%;
}
.about_image{
  top:0% !important;
}

.big_blue_box_about{
  top:20%;
  left:-5%;
  height:800px;
}

.big_blue_box_about_2{
  top:85%;
  left:-5%;
  height:200px;
}

.wave{
  height:300px;
}

.our_work_section{
  width:105%;
  right:50px;
}

.wave:before{
  content:"";
  position:absolute;
  bottom:0;
  left:-5%;
  width:110%;
  height:200px;
  background-size:cover;
  background:url("./../images/wave.png");
  background-repeat:no-repeat;
}

.work_grid_item_left{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work_grid_item_center{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.showimg{
  height:100%;
  height:600px;
  margin-top:20%;
}
.work_grid_item_right{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work_grid_item_righter{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.work_grid_item_rightest{
  grid-area: rightest;
}

.blueboxcontact{
  top:0%;
  left:-5%;
  height:300px;
}


.blueboxcontact2{
  top:0%;
  right:0%;
  height:300px;
}

.supportbox{
  right:5%;
  height:400px;
  top:15%;
}

.titleshow{
  top:10%;
}

.titleshow2{
  top:35%;
}

.quotebutton{
  top:60%;
  right:0%;
}

.quotebutton:hover{
  background:#00103d ;
  color:black !important;
  font-weight: bold;
}

.dropdown_container {
  animation: .5s ease-in coll 1;
}

.active-dropdown {
  visibility: visible !important;
  opacity:1 !important;
  animation: .5s ease-in dropdown 1;
  height:300px !important;
}

.active-dropdown p{
  visibility: visible;
  color:white;
  animation: text_appear .5s ease-in 1;
}

.active-dropdown .dropdown_container{
  opacity:1 !important;
  visibility: visible;
  animation: .5s ease-in dropdown 1;
}

.home_quote_container{
  top:65%;
  left:5%;
}
.footer_wrapper_home{
  margin-top:40%; z-index:9999;position:relative
}
@media screen and (max-width:944px){

  .work_grid_item_left{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .showimg{
    height:275px !important;
  }
  .footer_wrapper_home{
    margin-top:85% !important;
  }
  .work_grid_item_center{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .work_grid_item_right{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .work_grid_item_righter{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .active-dropdown{
    height:300px !important;
  }

  .intro-form-container{
    margin-left:-5% !important;
  }

   .about-us-title{
    line-height: 70px !important;
  }

  .wave:before{
    content: "";
    position: absolute;
    z-index: 0 !important;
    width: 200% !important;
    bottom: 40% !important;
    height: 300px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .our_work_section{
      right:0px !important;
      width: 105% !important;
  }


  .contact_section{
    height:200px !important;
  }

  .our_work_grid {
    top:5%;
  }

  .supportbox{
    right: 0%;
    height: 500px;
    top: 15%;
  }

  .showimg{
    margin-top:72% !important;
  }

  .titleshow{
    top: 5%;
    left: 0%;
  }

  .titleshow2{
    right: 0%;
    top: 15%;
  }

  .quotebutton{
    top: 35%;
    right: 0%;
  }

  .our_work_title{
    margin-top: -70%;
  }

  .intro-form-container{
    width:120% !important;
  }

  .home_quote_container{
    top: 325%;
    left: 10%;

  }

  .our_clients_title{
    margin-top: -70% !important;

  }

  .about_us{
    margin-top:215% !important;
  }

  .work_grid_item_rightest{
    width: 300%;
float: right !important;
margin-left: 205%;
  }


}
