
.about_us{
  margin-top:5%;
}

.form-title{
  font-size: 20px;
  width:100%;
  font-family: monospace;
  text-align: center;
}

.intro-form-container{
    background:white;
    padding:5%;
    margin-left:5%;
}

.form-subtitle{
  font-size: 14px;
  width:100%;
  font-family: monospace;
  text-align: center;
}

.about_image{
  top:0% !important;
}

.big_blue_box_about{
  top:20%;
  left:-5%;
  height:800px;
}

.big_blue_box_about_2{
  top:85%;
  left:-5%;
  height:200px;
}

.wave{
  height:300px;
}

.background-006{
  background:#0069a4;
}

.our_work_section{
  width:105%;
  right:50px;
}

.wave:before{
  content:"";
  position:absolute;
  bottom:0;
  left:-5%;
  width:110%;
  height:200px;
  background-size:cover;
  background:url("./../wave.png");
  background-repeat:no-repeat;
}

.work_grid_item_left{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.work_grid_item_center{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.work_grid_item_right{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.work_grid_item_righter{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.work_grid_item_rightest{
  grid-area: rightest;
}

.blueboxcontact{
  top:0%;
  left:-5%;
  height:300px;
}

.quotebutton{
  margin-left:10% !important;
}

.blueboxcontact2{
  top:0%;
  right:0%;
  height:300px;
}


.supportbox{
  right:5%;
  height:400px;
  top:15%;
}

.titleshow{
  top:10%;
}

.titleshow2{
  top:35%;
}

.quotebutton{
  top:60%;
  right:0%;
}

.quotebutton:hover{
  background:white;
  color:black;
  font-weight: bold;
}

.dropdown_container {
  visibility: collapse;
  opacity:0;
  height:0px;
  animation: .5s ease-in coll 1;
}

.dropdown_container p{
  font-family: "Akrobat";
  font-weight: normal;
  font-size: 20px;
}

.active-dropdown {
  visibility: visible !important;
  opacity:1 !important;
  animation: .5s ease-in dropdown 1;
  height:350px;
}

.active-dropdown p{
  visibility: visible;
  color:white;
  animation: text_appear .5s ease-in 1;
}

.active-dropdown .dropdown_container{
  opacity:1 !important;
  visibility: visible;
  animation: .5s ease-in dropdown 1;
}


@media screen and (max-width:944px){

  .active-dropdown{
    height:300px !important;
  }

  .intro-form-container{
    margin-left:-5% !important;
  }

  .name_container{
    width:100% !important;
    max-width:100% !important;
    flex: 0 0 100%;
  }

  .intro-row{
    width:100% !important;
  }

  .value_row{
    margin-top:10% !important;
  }

   .about-us-title{
    line-height: 70px !important;
  }

  .about-us-text{
    font-size:30px !important;
  }
  .video-container video {
    height:600px !important;
  }

  .wave:before{
    content: "";
    position: absolute;
    z-index: 0 !important;
    width: 200% !important;
    bottom: 40% !important;
    height: 300px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .our_work_section{
      right:0px !important;
      margin-top: 35% !important;
      background: white !important;
      width: 105% !important;
      position: relative !important;
  }

  .text-about-us-box_4 {
    margin-top:15% !important;
  }
  .contact_section{
    height:200px !important;
  }
  .our_work_grid {
      background:white !important;
      position:absolute !important;
      top:0%;
      z-index:999;
      display:inline;
      margin-top:20%;
      padding:10%;
      padding-bottom:40%;
  }
  .work_grid_item{
    float:left !important;
    max-width:100%;
    width:100%;
    margin-left:5%;
  }
  .supportbox{
    background: #c71667;
    position: absolute;
    z-index: 5;
    right: 0%;
    width: 100%;
    height: 500px;
    top: 15%;
  }
  .showimg{
    margin-top: 75% !important;
    height: 300px !important;
  }
  .titleshow{
    color: white;
    font-family: "Akrobat";
    font-size: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 0%;
    display: inline;
    font-weight: bold;
    z-index: 9;
  }
  .titleshow2{
    color: white;
    font-family: "Akrobat";
    font-size: 20px;
    text-align: center;
    right: 0%;
    position: absolute;
    top: 20.5%;
    z-index: 9;
  }
  .quotebutton{
    padding: 1%;
    background: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Akrobat";
    position: absolute;
    top: 35%;
    width: 100%;
    margin-right: 0%;
    outline: none;
    box-shadow: 1px 1px 1px 1px black;
    right: 0%;
    margin-left: 0%;
  }
  .quote_small{
    font-size:18px !important;
  }
  .contact_us_title{
    margin-top:20%;
  }
  .contact_info{
    font-size: 18px !important;
    margin-left:2.5%;
  }
  .our_work_title{
    padding-right: 5%;
    width: 70%;
    margin-right: 35%;
    margin-top: -70%;
    padding: 2%;
    padding-left: 2.5%;
    font-size: 30px;
    position: relative;
    z-index:999;
  }

  .big_blue_box_about_2{
    opacity:0
  }
  .big_blue_box_about{
    opacity:0;
  }
  .contact_section{
    margin-top:30%;
  }
  .intro-form-container{
    width:120% !important;
  }
  .transparentbanner{
    opacity:0 !important;
  }
  .banners{
    top:35% !important;
  }
  .bkq{
    width:60% !important;
  }
  .bkc{
    width:90% ;
    font-size:22px !important;
  }

  .our_clients_title{
    margin-top: -70% !important;
  }


  .about_us{
    margin-top:120% !important;
  }


}
