.nav_list{
  list-style-type: none;
  color:white;
}

.navbar_custom{
  background:  #0069a4 !important ;
}

.navbar_home{
  width:100%;
}
.navbar_container{
  padding:1%;
  z-index: 99229;
  position: relative;
  background:  #0069a4 !important ;
}
.link_nav{
  color:white;
  font-family: "Roboto";
  font-size: 18px;
}

.button_img{
filter: invert(23%) sepia(68%) saturate(968%) hue-rotate(167deg) brightness(97%) contrast(103%);
}

.link_nav:hover{
  font-weight: bold;
}
.collapse-it:not(.show) {
    display: none;
    transition: all.5s;
}
