/* Section 1 Sliders */
.new_our_clients_container{
  background:#0069a4;
  padding-bottom:15%;
  padding-top:10%;
}

.our_clients_text_banner{
  margin:5% 0;
  width:40%;
  font-weight:700;
  font-family:'Montserrat';
  font-size:5rem;
}

.new_our_clients_row{
  position:relative;
  height:55vh;
}

.our_clients_overlay{
  position: absolute;
  top:0;
  z-index:999;
  transform:scale(1.105);
  height:100%;
  width:40%;
  background-image:linear-gradient(to left,
    rgba(3, 77, 118, 1),
    rgba(3, 77, 118, .5),
    rgba(3, 77, 118, 0),
    rgba(3, 77, 118, 0),
    rgba(3, 77, 118, 0));
}

.our_clients_overlay--right{
  right:0;
}

.our_clients_overlay--left{
  left:0;
}

.our_clients_col{
  height:100%;
  width:50%;
  position:absolute;
  top:0;
  z-index:9;
  transition: all 1s;
}

.our_clients_col--main{
  z-index:999 !important;
  transform:scale(1.05) translateX(45%);
}

.our_clients_col--main_{
  z-index:999 !important;
  transform:scale(1.1) translateX(45%) !important;
}

.our_clients_main_box{
  width:100%;
  background:white;
  height:100%;
  transform:scale(1.1);
}

.our_clients_row_inner{
  height:100%;
}

.our_clients_col_inner{
  height:100%;
}

.client_image{
  width:100%;
  height:100%;
}

.main_box_heading{
  font-size:3rem;
  font-family:'Montserrat';
  font-weight:600;
}

.main_box_paragraph{
  font-size:1.15rem;
  font-family:'Montserrat';
  margin-top:5%;
  font-weight:500;
  text-align: justify;
}

.our_clients_col--right{
  transform:scale(1) translateX(145%);
}

.our_clients_col--left{
  transform:scale(1) translateX(-35%);
}

.our_clients_col--left_{
  transform:scale(1) translateX(-35%) !important;
}

.our_clients_col--right_{
  transform:scale(1) translateX(145%) !important;
}

.our_clients_col--left:hover{
  transform:scale(1.1);
}

.our_clients_col--very-right{
  right:-55%;
  transition: all .5s;
}

.our_clients_col--very-left{
  left:-50%;
  transition: all .5s;
}

/* Section 2 Arrows */
.our_clients_arrow--right{
  transform:rotateY(180deg);
  right:5%;
  transition: all .5s;
}

.our_clients_arrow--left{
  left:5%;
}

/* Section 3 Buttons */
.our_client_button{
  background:#00103d;
  height:1rem;
  width:10%;
  float:left;
  margin-left:2%;
}

.button_col_our_clients{
  margin-left:55%;
}

.our_client_active_buttton{
  background:#38B6FF
}

.our_client_buttons{
  position: absolute;
  top: 119%;
  width: 100%;
}


@media screen and (max-width:680px){

  .new_our_clients_container{
    padding-bottom:45%;
    padding-top:20%;
  }

   .our_clients_col {
      width:70% !important;
      transition: all .4s !important;
    }

    .contact_section_title{
      margin-top: 45% !important;
    }

    .our_clients_containers{
      margin-top:-2.5%;
    }

    .buttons_t{
      margin-top:15%;
    }

    .contact_section_title{
      top: -55%;
      position: absolute;
      z-index: 999;
    }

    .main_box_paragraph{
      font-size: 1.3rem;
      font-family: 'Montserrat';
      margin-top: 5%;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }

    .box_col{
      width:100%;
      flex:100%;
      max-width:100%;
      padding:0%;
    }

    .box_col--bottom{
      margin-top:-55%;
      background:white;
    }

    .our_clients_col--main{
      transform: scale(1.05) translateX(20%);
    }

    .our_clients_col--main_{
      transform: scale(1.05) translateX(20%)  !important;;
    }

    .our_clients_overlay{
      height: 55vh;
      width:10%;
      background-image: linear-gradient(to bottom,
        rgba(3, 77, 118, 1),
        rgba(3, 77, 118, .5),
        rgba(3, 77, 118, 0));
    }

    .our_client_buttons{
      z-index:99999999999999999999999999;
      position: absolute;
      top: 160%;
      width: 100%;
    }

    .our_client_button--2{
      visibility: hidden;
    }

    .our_client_button{
      height: 2rem;
      width: 20%;
      float: left;
      margin-left: 5%;
    }

    .our_clients_col--right{
      transform: scale(1) translateX(125%);
    }

    .our_clients_col--right_{
      transform: scale(1) translateX(125%)  !important;;
    }

    .our_clients_col--left_{
      transform: scale(1) translateX(-55%) !important;
    }

    .new_our_clients_row{
      position: relative;
      height: 45vh;
      margin-top: 15%;
    }

    .main_box_heading{
      text-align: center;
      margin-top: 5%;
      font-size: 2.5rem;
    }

    .button_col_our_clients{
      width:100%;
      position: relative;
      right:5rem;
    }

    .blc{
      width:0%;
      flex:0%;
      max-width:0%:
    }

    .contact_section_bluebox {
      z-index: -1;
      width: 30%;
      top: 35%;
      height: 150%;
    }

    .contact_section_title {
      width: 95% !important;
      text-align: left !important;
      padding-left: 5% !important;
    }

    .our_clients_text_banner{
      width:70%;
    }

}

@media screen and (min-width:601px) and (max-width:900px) and (orientation:landscape){

  .our_clients_col {
    height: 100% !important;
  }

  .our_clients_containers{
    margin-top:0% !important;
  }
  .new_our_clients_container{
    padding-bottom:0%;
  }

  .main_box_paragraph{
    margin-left:-2.5% !important
  }

  .our_clients_overlay{
    height: 75% !important;
  }

  .new_our_clients_row{
    position: relative;
    height: 95vh !important;
  }

  .our_client_buttons{
    top: 100% !important;
  }

  .our_clients_main_box{
    height:75%;
  }
  .main_box_paragraph{
    font-size:1rem;
    padding:2.5%;
  }

}
.client_image{
  object-fit: fill;
}

@media screen and (max-width:900px) and (min-width:600px) and (orientation:portrait){

  .new_our_clients_container{
    margin-top: 32.5%;
  }

  .our_clients_col {
    height: 100%;
  }

.main_box_paragraph{
  font-size:1.25rem;
}


  .our_clients_main_box{
    height: 70%;
  }

  .our_clients_overlay{
    height: 70%;
  }

  .new_our_clients_container{
    padding-bottom: 0%;
    padding-top:0%;

  }

  .our_clients_text_banner{
    margin-left:-5%;
  }

  .main_box_paragraph {
    padding: 5% 2.5%;
  }

  .box_col--bottom{
    padding:5% 2% !important;
  }

  .main_box_paragraph{
    width:85%;
  }

  .main_box_heading{
    font-size:2.5rem;
  }

  .our_client_buttons{
    position: absolute;
    top: 85%;
    width: 100%;
  }

  .button_col_our_clients {
    margin-left: 35%;
  }

  .our_client_button{
    z-index:999;
    position: relative;
    height: 1.6rem;
    width: 20%;
    float: left;
    margin-left: 10%;
  }

}
