.big-text-quote{
  width:120% !important;
}
.work_container{
  margin-top:0%;
  width:100%;
}
.darkbluebanner{
  padding: 5% !important;
  margin-top:-10.5% !important;
}
.no-background{
  background:none !important;
}
.margin-top-5{
  margin-top:5%;
}
.margin-top-10{
  margin-top:10%;
}
.margin-bottom-5{
  margin-bottom:5%;
}
.home_page{
  padding-bottom:42.5% !important;
}
label{
    margin-top:2.5%;
    font-family:"Akrobat";
    font-size:17px;
}
.quote_input:focus{
  outline:none !important;
}
.quote_input{
  border:none ;
  font-family: "Akrobat";
  font-size:20px;
  border-bottom:2px solid black !important;
  border-radius:0px;

}
.darkbluebackg {
  height:200px !important;
}
.quotesheet_container{
  background:white;
  margin-top:25% !important;
  margin-bottom:5%;
  border:2px solid #e6e6e6;
  padding:5%;width:90%;margin-left:5%;
  padding-bottom:15%;

  box-shadow:1px 1px 9px 2px black;margin-top:20%;
}
.quote_showcase_image{
  height:1200px;
}
.quotesheet_title{
  text-align: center;
  font-weight:  bold;
  font-family: "Akrobat";
  font-size:25px;
}

.quotebutton:hover{
  box-shadow:1px 1px 9px 2px black;
}
@media screen and (max-width:844px){
  .quote_showcase_image{
    height:600px !important;
  }
  .work_container{
    margin-top:30% !important;
    padding-top:10%;

  }
  .what_we_do_image{
    right:0px;
  }
  .what_we_do_inner{
    padding:5%;
  }
  .banners_about{
    margin-top:20% !important;
  }
  .what_we_do_title{
    text-align: left;
  }
  .what_we_do_description{
    text-align:left !important;
    font-size:14px;
  }

}
