
.work_container{
  margin-top:0%;
  width:100%;
}

.quote_input:focus{
  outline:none !important;
}

.darkbluebackg {
  height:200px !important;
}

.before_background{
  top:-10%;
  left:0%;
}
.adjust-right{
  right:15px;
}
.adjust-left{
  left:15px;
}
.top-30px{
  top:30px;
}
.import-width-100{
  width:100%;
}
.quotebutton:hover{
  box-shadow:1px 1px 9px 2px black;
}
.dark-navy-background{
  background:#014884
}
.light-navy-background{
  background:#013d84
}
.padding-bottom-2_5{
  padding-bottom:2.5%;
}
.padding-top-2_5{
  padding-top:2.5%;
}
.min-z{
  z-index:-1;
}
@media screen and (max-width:844px){
  .work_container{
    margin-top:0% !important;
    padding-top:10%;

  }
  .quotesheet_wrapper{
    margin-top:130%;
  }
  .quotebutton{
    margin-top:10%;
    font-size:15px;
    border-color:black;
  }
  .adjust-top{
    top:0px !important;
    top:5% !important;
    right:0px !important;
    width:100% !important;

  }
  .adjust-bottom{
    top:0px !important;
    top:5% !important;
    bottom:0px !important;
    width:100% !important;
    left:0px !important;
  }
}
