.big-text-quote{
  width:120% !important;
}
.work_container{
  margin-top:0%;
  width:100%;
}
.darkbluebanner{
  padding: 5% !important;
  margin-top:-10.5% !important;
}
.home_page{
  padding-bottom:42.5% !important;
}
.darkbluebackg {
  height:200px !important;
}
