.showcase_image {
  height:100vh;
  width:100%;
}
.row{
  position: relative;
}
.showcase_container{
  position: relative;
}
.banners{
    margin-top:10%;
    position: absolute;
    width:100%;
    top:20%;
    z-index:1;

}

.showcase_banner--1{
  width:80%;
  height:15vh;
  background:linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, .5)) !important;

}

.showcase_banner--2{
  width:30% !important;
  height:10vh;
  position: relative;
  bottom:5rem;

}
.showcase_number{
  position: absolute;
  right:0%;
  font-size:2rem;
  top:-2%;
  font-family: "Montserrat";
  font-weight:700;
  z-index:999999999999;
  padding:1%;
  box-shadow:0rem 2rem 4rem black;
  text-align: right;
  color:white;
  background:#00103d;
  transition: all .5s;

}
.logo{
  width:80%;
  margin-left:12.5%;
}

.showcase_home_container{
  width:100%;
  position:relative;
}
.showcase_image_container{
  position:absolute;
  width:100%;
  top:0%;
}
.showcase_text_text_container{
  margin-left: 5%;
}
.showcase_container{
  height:100vh;
  width:100%;
}
.showcase_container--home{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1),rgba(3, 77, 118, 1),rgba(3, 77, 118, .3)),url("./../images/showcase_1.png");
}
.showcase_container--contact{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1),rgba(3, 77, 118, 1),rgba(3, 77, 118, .3)),url("./../images/contact_showcase.png");
}
.showcase_container--about{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1),rgba(3, 77, 118, .5),rgba(3, 77, 118, .3)),url("./../images/about_showcase.png");
}
.showcase_container--schedule{
  background-image:linear-gradient(to right, rgba(3, 77, 118, 1),rgba(3, 77, 118, .8),rgba(3, 77, 118, .3)),url("./../images/showcase_1.png");
}
.showcase_background{
  z-index:0;
  width:50%;
  margin-left:2.5%;
  position: absolute;
  top:-5%;
}
.showcase_text_container{
  width:100%;
}

.cfs-heading{
  display: inline;
  padding:2%;
  font-size:6.5rem;
  background:#00103d;
}

.intro-text-container{
  width:80%;
  margin-top:0%;
}
span{
  font-family: "Montserrat",sans-serif;

}
.cfs-heading-container{
  padding:1%;
  margin-top:5%;
  font-family: "Montserrat",sans-serif;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: .01rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: left;

}

.cfs-heading-background--1{
  width:50%;
}

.logo_container{
  z-index:99;
  position: relative;
  width:50%;
  background-image:linear-gradient(to bottom, rgba(56, 182, 255, 1),rgba(0, 105, 164, 1));

  margin-left:2.5%;

}
.showcase_background{
  height:100vh;
  width:50%;
  padding-left:2.5%;
  margin-left:2.5%;
  background:#0069a4 !important;

}
.intro-text-container{
    position: absolute;
    z-index: 99;
    top: 30%;
}

.showcase_client{
  height:300px;
}
.logo_col{
  position: relative;
  z-index:0;
   padding:0;
}

@media screen and (max-width:890px){
  .cfs-heading-container{
    width:100%;
  }

  .showcase_banner{
    width:100%;
    max-width:100%;
    flex:100%;
    bottom:0rem;
  }
  .about_us_row{
    margin-top:105%;
  }
  .cfs-heading{
    font-size:3rem;
  }
  .showcase_container{
    margin-top: 5% !important;
    height:70vh;
  }
  .showcase_text_container{
    margin-top:10%;
  }
  .showcase_banner{
    height:5vh;
  }
  .logo_col{
    width:80%;
    flex:80%;
    max-width:80%;
  }
  .cfs-heading-background--1{
    width:90%;
  }
  .cfs-heading-background--2{
    width:100% ;
  }
  .banners{
    margin-top:35%;
  }
  .home_quote_container{
    top:90%;
  }
  .showcase_banner{
      height:7.5vh;
  }
  .showcase_banner--1{
    background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, .2)) !important;
  }
}



/* @media screen and (max-width:1000px) and (orientation:landscape){

    .intro-text-container{
      margin-top: -5% !important;
    }
    .banners{
      margin-top:15% !important;
    }
    .logo_col{
        width:33.3333333333% !important;
        flex: 33.3333333333%;
        max-width:33.3333333333% !important
    }
    .home_quote_container{
      top: 240% !important;
    }
    .about_us{
      margin-top: 140% !important;
    }
    .mobile-margin-top-neg{
        margin-top: 30% !important;
    }
    .wavy_section{
          margin-top: -10% !important;
    }
    nav{
      background: #0069a4 !important
    }

    .showcase_client{
        height: 100px !important;
        margin-top: 30% !important;
        position:relative;
        bottom:30px;
    }
    .client_card{
      width: 70% !important;
      position:relative;
      margin-left: 10% !important;
    }
    .client_row{
      padding-top:15% !important;

    }

    .mobile_text_banner_out_client{
      margin-left: 42.5% !important;
      width: 100% !important;
      margin-top:-5%;
      position:relative;
      bottom:30px;
    }.contact_us_con{
      margin-top:-2.5%;
    }
    .small_logo_img{
      top: 7.5% !important;
      position: absolute !important;

    }
    .logo_img{
      top: 7.5% !important;
      position: absolute !important;
          margin-top: -15% !important;
    }
    .about-us-title{
      position: absolute;
    top: -7.5%;
    left: 0%;
    }
    .supportbox{
          margin-top: 5% !important;
    }
    .showimg{
      margin-top: 40% !important;
      width:50%;
    }
    .mobile-margin-top-20-neg{
          margin-top: -40% !important;
    }
    .landscape-col-6{

        width:50% !important;
        max-width:50% !important;
        flex: 50% !important;

    }
    .client_row{
      width: 100% !important;
    margin-left: -5% !important
    }
    .landscape-col-4{

        width:33.333333333333333% !important;
        max-width:33.33333333333% !important;
        flex: 33.33333333333333% !important;

    }
}
@media screen and (max-width:1000px){
   .showcase_image{
     height:600px !important;
     width:100%;
   }
   .logo_container{
     width: 95% !important;
     margin-left: 5% !important;
     margin-top: 0% !important
   }
   .text-container{
     position: absolute !important;
     width: 100% !important;
     padding-bottom: 160% !important;
     top: -5% !important;
     height: 650px !important;
    }
   .banners{
     margin-top: 20%;
   }

   .intro-text-container{
     margin-top:15%;
     top:120%;
   }


}

@media screen and (max-width:1200px) and (min-width:800px) and (orientation:portrait){

  .intro-text-container  {
    margin-top:1% !important;

  }
  .banners{
    margin-top: 5% !important
  }
  .home_quote_container{

    top: 240%;

  }
  .about_us{
        margin-top: 135% !important;
  }
  .mobile-text-center{
    text-align:center !important;
  }
  .value_row{
      padding-bottom:30% !important;
  }
  .client_row{
    margin-top:5% !important;
  }
  .landscape-col-4{
    margin-left: -7.5%;
  }
  .showcase_client{
    height: 440px !important;
  }
  .about-us-title{
    margin-left: -6% !important;
    margin-top:-.5% !important;
  }
  #showid{
        margin-top: 50% !important;
  }
  .about_container{

    margin-top:55% !important
  }
  .link_about {
  font-size:30px !important;
  }
  .value_row{
    padding-bottom:.5% !important;
  }
  .quotesheet_container{
    margin-top:50% !important
  }
  .meet_owners_container{
    margin-top: 50% !important;
  }
  .mobile-background-white{
    background:white !important;
  }
 } */
