.showcase_image {
  height:900px;
  width:100%;
}

.banners{
    margin-top:5%;
    position: absolute;
    width:100%;
    top:20%;
    z-index:1;

}
.showcase_image_container{
  position:absolute;
  width:100%;
  top:0%;
}
  .padding-5{
    padding:5%;
  }
  .dark-blue-background{
    background: #0c0300;
  }

  .cfs-heading-background{
        background: #00103d;
  }
  .light-blue-background{
    background: #00b1ff;
  }
  .padding-10{
    padding:10%;
  }
  .padding-2{
    padding:2%;
  }
  .width-45{
    width:45%;
  }
  .width-75{
    width:75%;
  }

.akrobat {
  font-family: "Akrobat";
}
.margin-left-2_5{
  margin-left: 2.5%;
}
.bold{
  font-weight: bold !important;

}
.top-35px{
  top:5px
}
.white{
  color:white;
}
.font-35{
  font-size: 35px !important;

}
.no-space{
  letter-spacing: 0px !important;

}
.relative{
  position:relative;
}
.margin-top-2_5{
  margin-top: 2.5%;
}
.darkbluebackg{
  background:#0080b8
}
.foreground{
  position: relative;
  z-index:99;
}
.width-100{
  width:100%;
}


.width-50{

  width:50%;
}
.no-pad{
  padding:0;
}

.padding-left-5{
  padding-left:5%;
}
.background-1{
  background:#00103d !important;
}
.absolute{
  position:absolute;
}
.background{
  position: relative;
  z-index:9;
}
.width-80{
  width:80%;
  margin-left: 0% !important;
}
.intro-text-container{
    position: absolute;
    z-index: 99;
    top: 120%;
}

@media screen and (max-width:844px){
   .showcase_image{
     height:600px !important;
     width:100%;
   }
   .logo_container{
     width: 95% !important;
     margin-left: 5% !important;
     margin-top: 0% !important
   }
   .text-container{
     position: absolute !important;
     width: 100% !important;
     padding-bottom: 160% !important;
     top: 0% !important;
     height: 600px !important;
    }
   .banners{
     margin-top: 20%;
   }
   .mobile-font-25{
     font-size:25px !important;
   }
   .mobile-padding-10{
     padding:10% !important;
   }
   .mobile-padding-5{
     padding:5% !important;
   }
   .mobile-width-80{
     width:80% !important;
   }
   .mobile-width-90{
     width:90% !important;
   }
   .mobile-width-100{
     width:100% !important;
   }
   .mobile-width-120{
     width:120% !important;
   }
   .mobile-width-110{
     width:110% !important;
   }
}
