.showcase_image {
  height:900px;
  width:100%;
}

.banners{
    margin-top:5%;
    position: absolute;
    width:100%;
    top:20%;
    z-index:1;

}


.showcase_image_container{
  position:absolute;
  width:100%;
  top:0%;
}


.intro-text-container{
    position: absolute;
    z-index: 99;
    top: 30%;
}

.showcase_client{
  height:300px;
}


@media screen and (max-width:1000px) and (orientation:landscape){

    .intro-text-container{
      margin-top: -5% !important;
    }
    .banners{
      margin-top:15% !important;
    }
    .logo_col{
        width:33.3333333333% !important;
        flex: 33.3333333333%;
        max-width:33.3333333333% !important
    }
    .home_quote_container{
      top: 240% !important;
    }
    .about_us{
      margin-top: 140% !important;
    }
    .mobile-margin-top-neg{
        margin-top: 30% !important;
    }
    .wavy_section{
          margin-top: -10% !important;
    }
    nav{
      background: #0069a4 !important
    }

    .showcase_client{
        height: 100px !important;
        margin-top: 30% !important;
        position:relative;
        bottom:30px;
    }
    .client_card{
      width: 70% !important;
      position:relative;
      margin-left: 10% !important;
    }
    .client_row{
      padding-top:15% !important;

    }

    .mobile_text_banner_out_client{
      margin-left: 42.5% !important;
      width: 100% !important;
      margin-top:-5%;
      position:relative;
      bottom:30px;
    }.contact_us_con{
      margin-top:-2.5%;
    }
    .small_logo_img{
      top: 7.5% !important;
      position: absolute !important;

    }
    .logo_img{
      top: 7.5% !important;
      position: absolute !important;
          margin-top: -15% !important;
    }
    .about-us-title{
      position: absolute;
    top: -7.5%;
    left: 0%;
    }
    .supportbox{
          margin-top: 5% !important;
    }
    .showimg{
      margin-top: 40% !important;
      width:50%;
    }
    .mobile-margin-top-20-neg{
          margin-top: -40% !important;
    }
    .landscape-col-6{

        width:50% !important;
        max-width:50% !important;
        flex: 50% !important;

    }
    .client_row{
      width: 100% !important;
    margin-left: -5% !important
    }
    .landscape-col-4{

        width:33.333333333333333% !important;
        max-width:33.33333333333% !important;
        flex: 33.33333333333333% !important;

    }
}
@media screen and (max-width:1000px){
   .showcase_image{
     height:600px !important;
     width:100%;
   }
   .logo_container{
     width: 95% !important;
     margin-left: 5% !important;
     margin-top: 0% !important
   }
   .text-container{
     position: absolute !important;
     width: 100% !important;
     padding-bottom: 160% !important;
     top: -5% !important;
     height: 650px !important;
    }
   .banners{
     margin-top: 20%;
   }

   .intro-text-container{
     margin-top:15%;
     top:120%;
   }


}

@media screen and (max-width:1200px) and (min-width:800px) and (orientation:portrait){

  .intro-text-container  {
    margin-top:1% !important;

  }
  .banners{
    margin-top: 5% !important
  }
  .home_quote_container{

    top: 240%;

  }
  .about_us{
        margin-top: 135% !important;
  }
  .mobile-text-center{
    text-align:center !important;
  }
  .value_row{
      padding-bottom:30% !important;
  }
  .client_row{
    margin-top:5% !important;
  }
  .landscape-col-4{
    margin-left: -7.5%;
  }
  .showcase_client{
    height: 440px !important;
  }
  .about-us-title{
    margin-left: -6% !important;
    margin-top:-.5% !important;
  }
  #showid{
        margin-top: 50% !important;
  }
  .about_container{

    margin-top:55% !important
  }
  .link_about {
  font-size:30px !important;
  }
  .value_row{
    padding-bottom:.5% !important;
  }
  .quotesheet_container{
    margin-top:50% !important
  }
 }
