@keyframes go_up {
  0%{
    position: relative;
    top:0px
  }
  100%{
    top:-30px;
  }
}@keyframes go_down {
  0%{
    position: relative;
    top:-30px
  }
  100%{
    top:0px;
  }
}


.client_card:hover{
  top:-30px;
  animation: go_up .5s ease-in 1;
}

.client_card{
  top:0px;
  animation: go_down .5s ease-in 1;
}
