.mt5{
  margin-top:5% !important;
}
.mb20px{
  margin-bottom: 20px;
}
.clear{
  clear:both;
}

.relative{
  position: relative;
}
.padding-left-5{
  padding-left:5%;
}
.padding-bottom-75{
  padding-bottom:75%;
}
.padding-2{
  padding:2%;
}
.background-1a{
  background:#1a416f;
}
.padding-left-2_5{
  padding-left: 2.5%;
}
.background-00{
  background:#00103d;
}
.float-left{
  float: left;
}
.margin-top-10{
  margin-top:10%;
}
.margin-bottom-5{
  margin-bottom: 5%;
}
.width-120{
  width:120%;
}
.margin-left-2_5{
  margin-left:2.5%;
}
.border-radius-5px{
  border-radius:5px;
}
.padding-bottom-100{
  padding-bottom:100%;
}
.border-radius-5px{
  border-radius:5px;
}
.background-white{
  background: white;
}
.padding-bottom-15{
  padding-bottom:15%;
}
.add-to-cart{
  color:black !important;
  border:black 2px solid !important;
  border-radius:30px;
  font-size:16px !important;
}
.padding-bottom-20{
  padding-bottom:20%;
}
.margin-top-10{
  margin-top: 10%;
}
.width-90{
  width:90%;
}
.float-left{
  float:left;
}
.padding-bottom-20{
  padding-bottom: 20%;
}
.padding-bottom-10{
  padding-bottom: 10%;
}
.margin-left-35{
  margin-left: 35%;
}
.margin-left{
  margin-left:20%;
}
.margin-bottom-5{
  margin-bottom: 5%;
}
.float-left{
  float:left;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.height-300{
  height:300px;
}
#vid{
  height:1200px;
}
.height-1200{
  height:1200px;
}
.padding-5{
  padding:5%;
}
.background-white{
  background:white;
}

.red{
  color:red;
}
.padding-5{
  padding:5%;
}
.relative{
  position: relative;
}
.width-100{
  width:100%;
}
.margin-top-2_5{
  margin-top:2.5%;
}
.margin-top-5{
  margin-top:5%;
}
