<div class="relative">

  <div class="row relative">

      <div class="col-4 no-pad intro-container relative no-background">
          <div class=" foreground width-50 padding-left-2_5 margin-left-2_5 margin-top-2_5 logo_container ">
            <img src = "./assets/logo.png"class="width-100" />
          </div>
          <div class="darkbluebackg background width-50 text-container  no-background">
          </div>
      </div>

  </div>

      <div class="intro-text-container intro-about-container">
          <div class="big-text-container big-text-container-ani-1 big-text-quote big-text-about-small fh">
                <p class="big-text big-text-about">594-040-4040!</p>
          </div>
            <div class="big-text-container big-text-container-ani-2 width-120 big-text-about big-text-about-bigger gh" >
                <p class="big-text big-text-about fhy">info@customfacilityservices.com</p>
            </div>

        <div class="banners_about row relative">
            <div class="col-12">
              <div class='row relative'>
                <div class="col-12 darkbluebanner"></div>
                <div class="col-9 lightbluebanner lightbluebanner_about"></div>
              </div>
          </div>

        </div>
    </div>

  <div class="showcase_image_about">
      <img src ="./assets/contact_us_b.png" class="width-100 quote_showcase_image" id="quote_showcase_background"/>
  </div>

</div>
