<div class="work_container relative">


      <div class="what_we_do_inner we_clean_inner width-100 padding-top-5 padding-bottom-10">
        <div class="row mobile-margin-top-5">
<p class="white margin-top-5 font-60 mobile-font-40 mobile-text-center text-left margin-left-10 width-100 margin-left-5 mobile-margin-left-0"> What We Clean </p>
          <div class="col-6 mobile-col-12 padding-left-5 padding-bottom-10">



              <p class="what_we_do_description  text-center white margin-top-5 mobile-text-center we_clean_descr red-bottom-border font-25 width-30 mobile-width-50 mobile-font-20 mobile-margin-left-22_5">
                Window Panes
              </p>

              <p class="what_we_do_description text-center white margin-top-5 mobile-text-center we_clean_descr red-bottom-border font-25 width-30 mobile-width-50  mobile-font-20 mobile-margin-left-22_5">
                Window Ledges
              </p>

              <p class="what_we_do_description text-center white margin-top-5 mobile-text-center we_clean_descr red-bottom-border font-25 width-30 mobile-width-50  mobile-font-20 mobile-margin-left-22_5">
                Door Frames
              </p>

              <p class="what_we_do_description text-center margin-top-5  white mobile-text-center we_clean_descr red-bottom-border font-25 width-30 mobile-width-50  mobile-font-20 mobile-margin-left-22_5">
                Window Frames
              </p>

              <p class="what_we_do_description text-center margin-top-5 white mobile-text-center we_clean_descr red-bottom-border font-25 width-30 mobile-width-50  mobile-font-20 mobile-margin-left-22_5">
                Door Bottoms
              </p>

          </div>

      </div>
</div>
