<div class="work_container relative">

      <div class="what_we_do_inner we_clean_inner">
        <div class="row mobile-margin-top-10">

          <div class="col-6 mobile_wej padding-left-5">
            <p class="what_we_do_title we_clean"> What We Clean </p>
              <p class="what_we_do_description text-center we_clean_descr">
                Window Panes
              </p>
              <p class="what_we_do_description text-center we_clean_descr">
                Window Ledges
              </p>
              <p class="what_we_do_description  text-center we_clean_descr">
                Door Frames
              </p>
              <p class="what_we_do_description  text-center we_clean_descr">
                Window Frames
              </p>
              <p class="what_we_do_description text-center we_clean_descr">
                Door Bottoms
              </p>



          </div>

      </div>
</div>
