
<div class="row">


  <div class="col-12">

      <div class="text_quote_box width-100">
          <p class="title_quote">Total Quotes </p>
          <p class="subtitle_quote"> <%= quotes.length %> Quotes </p>
      </div>

  </div>

  <div class="col-12 margin-top-20">
      <div class="text_quote_box width-100">
          <p class="title_quote"> Potential Sales </p>
          <p class="subtitle_quote">$<%=total_potential_sales %> </p>
      </div>

    </div>

</div>
