<div class="row value_row">

    <div class="col-5 values_container">
      <div class="text-about-us-box dropdown-box" _id = 1>
          <p class="about-us-text">Connect With People</p>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <img src ="./assets/dropdown_arrow.png" _id=1 class="dropdown_arrow"/>
            </div>
          </div>
          <div class="dropdown_container">
              <div className="divder_dropdown"></div>
              <p class="dropdown_text">
                  We value meeting and creating relationships with small business owners across the state and enjoy providing something of value to the community that has shaped our lives so much.
              </p>
            </div>
      </div>
        <div class="text-about-us-box dropdown-box" _id = 2>
            <p class="about-us-text">Honest Work</p>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <img src ="./assets/dropdown_arrow.png" _id=2 class="dropdown_arrow"/>
              </div>
            </div>
            <div class="dropdown_container">
                <div className="divder_dropdown"></div>
                <p class="dropdown_text">
                    We value honesty and integrity in our employees and ourselves that is why we strive to deliver the highest quality services to businesses who value integrity as well.
                </p>
              </div>
        </div>

        <div class="text-about-us-box dropdown-box" _id = 3>
            <p class="about-us-text">Accountability</p>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <img src ="./assets/dropdown_arrow.png" _id=3 class="dropdown_arrow"/>
              </div>
            </div>
            <div class="dropdown_container">
                <div className="divder_dropdown"></div>
                <p class="dropdown_text">
                    You can be sure if we make a mistake or fall short for some reason that we will do our best to resolve it and take responsibility instead of passing on to another.
                </p>
              </div>
        </div>
        <div class="text-about-us-box dropdown-box" _id = 4>

            <p class="about-us-text">Positivity</p>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <img src ="./assets/dropdown_arrow.png" _id=4 class="dropdown_arrow"/>
              </div>
            </div>

            <div class="dropdown_container">
                <div className="divder_dropdown"></div>
                <p class="dropdown_text">
                  We truly believe that a good attitude is essential part of having hard working employees and also cultivating long lasting relationships with our clients.
                </p>
            </div>
        </div>

        <div class="text-about-us-box_4 margin-top-10 background-00 ">
            <p class="about-us-text_about_link">Learn More About Us!</p>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-6 relative">
        <img class="about_image" src = "./assets/about.jpg"/>
        <div class="big_blue_box_about"></div>
        <div class="big_blue_box_about_2"></div>
    </div>

</div>
