
      <div style="padding-bottom:20%">
        <p class="contact_info_2">Phone:404-303-30303</p>
      <p class="contact_info">Email:info@customfacilityservices.com</p>
        <p class="contact_info">Phone:404-303-30303</p>

    </div>
    <div class="showboxcontact">
        <div class="blueboxcontact2"></div>
        <div class="blueboxcontact2 lb"></div>
        <div class="supportbox">
            <img class="showimg" src = "./assets/show.png" style="height:100%"/>
            <p class="titleshow">Get a Quote Today!</p>
            <p class="titleshow2">We will reach back as fast as possible!</p>
            <div class="quotebutton">Recieve a Quote</div>
        </div>
    </div>
