
<div class="row navbar_home">
  <div class="col-4"></div>

  <div class="col-2">
    <a href="/"><p class="link_nav">Home</p></a>
  </div>

  <div class="col-2">
    <a href = "/about"><p class="link_nav">About Us</p></a>
  </div>
  <div class="col-2">
    <p class="link_nav">Contact Us</p>
  </div>
  <div class="col-2">
    <p class="link_nav">Schedule Quote</p>
  </div>

</div>
