<div class="relative mobile-top-35px">

  <div class="row relative">

      <div class="col-4 no-pad relative no-background z-99 ">
          <div class=" foreground width-50 padding-left-2_5 margin-left-2_5 logo_container light-blue-background">
            <img src = "./assets/images/logo.png"class="width-100" />
          </div>
          <div class="background width-50 text-container turquoise-background margin-left-2_5 height-650px mobile-height-575px absolute top--5">
          </div>
      </div>

  </div>

      <div class="intro-text-container width-80">
          <div class="padding-1 big-text-container-ani-1 mobile-width-80 margin-top-2_5 width-45 cfs-heading-background">
                <p class="font-35 akrobat margin-top-2_5 margin-left-2_5 bold no-space white mobile-font-25"><%= showcase.heading_1 %></p>
          </div>

            <div class="padding-1 big-text-container-ani-2 mobile-width-110 margin-top-2_5 width-75 cfs-heading-background" >
                <p class="font-35 akrobat margin-top-2_5 margin-left-2_5 bold no-space white mobile-font-25"><%= showcase.heading_2 %></p>
            </div>

        <div class="banners row relative">
            <div class="col-12">
              <div class='row relative'>
                <div class="col-12 dark-blue-background padding-2 mobile-padding-5"></div>
                <div class="col-9 padding-2 light-blue-background mobile-padding-5"></div>
              </div>
          </div>

        </div>
    </div>

  <div class="showcase_image_container">
      <img src ='<%= showcase.showcase_img %>' class="width-100 showcase_image" id="quote_showcase_background"/>
  </div>

</div>
