<div class="white-background padding-5 padding-bottom-10 width-100 padding-bottom-10">
  <div class="row  width-50 p_row absolute">
    <div class="mobile-col-0"></div>
    <div class="col-12 mobile-col-12">
      <p class="mobile_text_banner_out_clients text-banner text-center width-100 font-30 mobile-font-30 " style="font-size:40px"> Our Top Clients </p>
    </div>
      </div>
<div class="row padding-2 margin-top-7_5 mobile-margin-top-5 padding-bottom-5 width-90 padding-left-5 mobile-padding-top-10 contact_us_con client_row ">
  <% for(var i = 0; i < clients.length; i++){ %>
      <div class="col-3 mobile-col-12 margin-top-2_5" >
    <div class="margin-left-10  margin-top-2_5 relative client_card card padding-bottom-20 mobile-padding-bottom-5 heavy-shadow padding-2" >
        <div style="height:300px" class="showcase_client">
        <% if(clients[i].small == false) {%>
          <img class="width-100 padding-5  margin-top-5-neg  small_logo_img "src = "<%= './assets/images/' + clients[i].logo %>"/>
        <%}else{%>
          <img class="width-100 padding-5 margin-top-top-5-neg logo_img "  src = "<%= './assets/images/' + clients[i].logo %>"/>


          <%}%>

        </div>
    </div>
    </div>

  <%}%>

</div>
</div>
