<div class="white-background padding-top-5 paddding-bottom-20">
  <p class="text-banner  text-left width-30 font-30 mobile-font-30 mobile-width-80 mobile-text-center " style="font-size:40px"> Our Top Clients </p>

<div class="row padding-2 mobile-padding-right-left-5 padding-bottom-5 width-90">
  <% for(var i = 0; i < clients.length; i++){ %>
      <div class="col-3 mobile-col-6 margin-top-2_5" style='padding:0%;'>
    <div class="margin-left-5  margin-top-2_5 relative client_card card padding-bottom-20 mobile-padding-bottom-5 heavy-shadow padding-2" >
        <div style="height:300px" class="mobile-height-175px">
        <% if(clients[i].small == false) {%>
        <img class="width-100 padding-10 padding-top-5 margin-top-5-neg  "src = "<%= './assets/images/' + clients[i].logo%>"/>
        <%}else{%>
          <img class="width-100 padding-10 margin-top-10  mobile-margin-top-2-neg "  src = "<%= './assets/images/' + clients[i].logo%>"/>


          <%}%>

        </div>
    </div>
    </div>

  <%}%>

</div>
</div>
