<div class="row relative">

    <div class="col-4 no-pad intro-container relative">
        <div class="babybluebackg logo_container foreground width-50 padding-left-2_5 margin-left-2_5 margin-top-2_5">
        <img src = "./assets/logo.png"class="width-100" />
    </div>

    <div class="darkbluebackg background width-50 text-container  "style="height:1200px">

    </div>
  </div>
</div>

    <div class="intro-text-container">
        <div class="big-text-container big-text-container-ani-1">
              <p class="big-text">A Locally Owned</p>
        </div>
          <div class="big-text-container big-text-container-ani-2 width-120 bigger-text-container" >
              <p class="big-text">Window Cleaning Company</p>
          </div>



  <div class="banners row">
      <div class="col-12">
        <div class='row'>
      <div class="col-12 darkbluebanner"></div>
      <div class="col-12 lightbluebanner"></div>
      <div class="col-12 transparentbanner"></div>
    </div>
    </div>
  </div>

  <div class="row intro-row">
  <div class="intro-form-container col-12">
      <p class="form-title"> Get a Quote Today!</p>
      <p class="form-subtitle"> We will get back to you as soon as we can!</p>

      <div class="form-container-intro">

        <form method = "POST" action=  "/admin/schedule">
        <div class="col-5 name_container fl">
            <input class="form-control width-100 margin-top-2_5"  placeholder="First Name" name = "firstName"  />
        </div>
        <div class="col-5 name_container float-left margin-bottom-5">
            <input class="form-control width-100 margin-top-2_5" placeholder="Last Name" name = "lastName"  />
        </div>

        <div class="col-12 clear">
            <input class="form-control width-100 margin-top-2_5"  placeholder="Address" name = "address"  />
        </div>

        <div class="col-12 margin-top-5">
            <input class="form-control width-100 margin-top-2_5" placeholder="Number of Small Windows (Less than 4 Sqr. Ft.)" type="number" name = "smWindowCount"  />
        </div>
        <div class="col-12 margin-top-5">
            <input class="form-control width-100 margin-top-2_5" placeholder="Number of Medium Windows (Between 4 and 6 Sqr. Ft.)" type="number" name = "mdWindowCount"  />
        </div>
        <div class="col-12 margin-top-5">
            <input class="form-control width-100 margin-top-2_5" placeholder="Number of Large Windows (Greater than 6 Sqr. Ft.)" type="number" name = "lgWindowCount"  />
        </div>
        <div class="col-12 margin-top-5">
            <input class="form-control width-100 margin-top-2_5"  placeholder="Date of Quote" type="date" name = "date"  />
        </div>
        <div class="col-12 margin-top-5">
            <input class="form-control width-100 margin-top-2_5" placeholder="Date of Quote" type="time" name = "time"  />
        </div>
        <div class="col-6">
            <button type="submit width-100 margin-top-5" class="btn btn-danger">Submit</button>
        </div>

      </form>

      </div>
  </div>
</div>

</div>



<div class="video-container absolute width-100" >
<video autoplay loop muted id = "vid"style="height:1200px;">
  <source src = "./assets/showcase.mp4" type="video/mp4">
</video>
</div>
