<div id="our_clients">
  <p class="our_work_title">Our Top Clients </p>
<div class="our_work_grid">
  <img src = "./assets/bkb.png" class="work_grid_item_left work_grid_item"/>
  <img src = "./assets/f45.png" class="work_grid_item_center work_grid_item"/>
  <img src = "./assets/first.png" class="work_grid_item_right work_grid_item"/>
  <img src = "./assets/sims.png" class="work_grid_item_righter work_grid_item"/>
  <img src = "./assets/pj.png" class="work_grid_item_rightest work_grid_item"/>

</div>
</div>
