<div>
  <p class="before_after_title free_quote_title"style="color:white;margin-top:25% ;font-family: 'Akrobat';text-align:center;font-size:40px;font-weight:bold;width:40%;padding:1%;background:#00103d">Free Quote! </p>

<div class="quotesheet_container" >
  <p class="quotesheet_title">Make Your Windows Shine Today!</p>
  <form action="/schedule" action="POST">
  <div class="row ">
      <div class="col-12">
          <label>
              First Name
          </label>
          <input class="form-control quote_input" name="firstName" placeholder="Enter first name" />
      </div>
      <div class="col-12">
          <label>
              Last Name
          </label>
          <input class="form-control quote_input" name="lastName" placeholder="Enter last name" />
      </div>
      <div class="col-12">
          <label>
              Address
          </label>
          <input class="form-control quote_input" name="address" placeholder="Enter address" />
      </div>
      <div class="col-12">
          <label>
              Windows Less than 4X4 Ft
          </label>
          <input class="form-control quote_input" name="smallWindows" placeholder="Enter Window Count" />
      </div>
      <div class="col-12">
          <label>
              Windows Bigger than 4X4 and Less than 8X8 Ft
          </label>
          <input class="form-control quote_input" name="mediumWindows" placeholder="Enter Window Count" />
      </div>
      <div class="col-12">
          <label>
              Windows Bigger than 8X8 Ft
          </label>
          <input class="form-control quote_input" name="largeWindows" placeholder="Enter Window Count" />
      </div>
      <div class="col-3"></div>
      <div class="col-6">
        <button class="width-100 quotebutton margin-top-10 margin-bottom-5"type="submit"> Receive Quote</button>
      </div>

      <div class='col-3'></div>
      </form>
  </div>



</div>
