<div class="quotesheet_container">
  <form href="/schedule" action="POST">
  <div class="row">
      <div class="col-12">
          <label>
              First Name
          </label>
          <input class="form-control quote_input" name="firstName" placeholder="Enter first name" />
      </div>
      <div class="col-12">
          <label>
              Last Name
          </label>
          <input class="form-control quote_input" name="lastName" placeholder="Enter last name" />
      </div>
      <div class="col-12">
          <label>
              Address
          </label>
          <input class="form-control quote_input" name="address" placeholder="Enter address" />
      </div>
      <div class="col-12">
          <label>
              Windows Less than 4X4 Ft
          </label>
          <input class="form-control quote_input" name="smallWindows" placeholder="Enter Window Count" />
      </div>
      <div class="col-12">
          <label>
              Windows Bigger than 4X4 and Less than 8X8 Ft
          </label>
          <input class="form-control quote_input" name="mediumWindows" placeholder="Enter Window Count" />
      </div>
      <div class="col-12">
          <label>
              Windows Bigger than 8X8 Ft
          </label>
          <input class="form-control quote_input" name="largeWindows" placeholder="Enter Window Count" />
      </div>
  </div>


</div>
