<div class="work_container relative">

    <img src = "./assets/services.png" class="what_we_do_image whes"/>
      <div class="what_we_do_inner">
        <div class="row margin-top-5">

          <div class="col-6 padding-left-5">
            <p class="what_we_do_title "> What We Do </p>

              <p class="what_we_do_description ">
                  A business that looks well maintained is successful. fully take care of any problem and spend time around the clock to make sure you can spend time on the things that matter the most.
              </p>



          </div>

      </div>
</div>
