<div class="work_container relative">

    <img src = "./assets/services.png" class="what_we_do_image whes"/>
      <div class="what_we_do_inner">
        <div class="row margin-top-5">

          <div class="col-6 padding-left-5">
            <p class="what_we_do_title "> What We Do </p>

              <p class="what_we_do_description ">
                  A business that looks well maintained is successful. Our company specializes in cleaning windows and patios to lessen your workload while making your business aesthetic look in top shape. Our services will be cost-effective to you and we are very flexible in our scheduling so we can come at the best days for you.  can spend time on the things that matter the most.
              </p>



          </div>

      </div>
</div>
