<div class="row  browser_count_container">

    <div class="col-3 margin-top-2_5">
        <img class="width-100 " src = "./../assets/images/chrome.png"/>
        <p class="akrobat text-center font-20"> Chrome </p>
        <p class="text-center font-20 akrobat margin-top-5"><%= meta.brow.chrome %></p>
    </div>

    <div class="col-3 margin-top-2_5">
        <img class="width-100" src = "./../assets/images/edge.png"/>
        <p class="akrobat text-center font-20"> Edge </p>
        <p class="text-center font-20 akrobat margin-top-5"><%= meta.brow.edge %></p>
    </div>

    <div class="col-3 margin-top-2_5">
        <img class="width-100" src = "./../assets/images/safari.png"/>
        <p class="akrobat text-center font-20"> Safari </p>
        <p class="text-center font-20 akrobat margin-top-5"><%= meta.brow.safari %></p>
    </div>

    <div class="col-3 margin-top-2_5">
        <img class="width-100" src = "./../assets/images/firefox.png"/>
        <p class="akrobat text-center font-20"> FireFox </p>
        <p class="text-center font-20 akrobat margin-top-5"><%= meta.brow.firefox %></p>
    </div>

</div>
