<div class="row ">

    <div class="padding-0 margin-0 col-4 ">
        <img class="width-100" src = './assets/images/photo_1.png' style="height:100vh"/>
    </div>
    <div class="padding-0 margin-0 col-4 ">
        <img class="width-100" src = './assets/images/photo_2.png' style="height:50vh"/>
    </div>
    <div class="padding-0 margin-0 col-4 ">
        <img class="width-100" src = './assets/images/photo_3.png' style="height:50vh"/>
    </div>



</div>
<div class="row " style="position:relative;top:-50vh">

    <div class="padding-0 margin-0 col-4 ">
    </div>
    <div class="padding-0 margin-0 col-8 ">
        <img class="width-100" src = './assets/images/photo_4.png' style="height:50vh"/>
    </div>




</div>
<div class="row " style="position:relative;top:-50vh">

    <div class="padding-0 margin-0 col-6 ">
      <img class="width-100" src = './assets/images/photo_5.png' style="height:50vh"/>

    </div>
    <div class="padding-0 margin-0 col-6 ">
        <img class="width-100" src = './assets/images/photo_6.png' style="height:50vh"/>
    </div>




</div>
