
<div class="add_user_modal margin-top-5 "id="userModal" >

  <div class="white-background padding-5">

   <p class="akrobat font-30">Add User to Schedule</p>

   <form action = "/admin/add_laborer" method='POST'>

     <div class="row">

       <div class="col-12">

         <div class="row">

               <div class="col-12 margin-top-5">
                 <input placeholder="Enter First Name " name = "first" class="form-control width-100 edit_schedule_form_control"/>
               </div>

               <div class="col-12 margin-top-5">
                  <input   placeholder="Enter Last Name " name = "last" class="form-control width-100 edit_schedule_form_control"/>
                </div>

               <div class="col-12 margin-top-5">
                  <button class="btn btn-secondary width-100 submit_user" type="submit">Submit</button>
               </div>

           </div>

         </div>

       </div>

    </form>

   </div>

</div>
