<div class="meet_owners_container"style="margin-top:0%;padding-top:5%">

    <div class="meet_owner_overlay"></div>
    <p class="text-banner meet_owner_banner">Meet the Owners </p>

    <div class='row meet_owner_row'>

        <div class="col-1"></div>

        <div class="col-10">

            <div class='row'>

                <div class="col-6 meet_owner_col mobile-col-12 landscape-col-6">

                  <img class ="meet_owner_img" src = "./assets/images/2.png" />
                  <p class="meet_owner_name">Marco Khodr </p>
                </div>

                <div class="col-6 mobile-col-12 landscape-col-6 meet_owner_col--2 ">
                  <p class="meet_owner_description">
                    A business that looks well maintained is successful.
                    Our company specializes in cleaning windows to lessen your workload while making your business aesthetic look in top shape. Our services will be cost-effective to you and we are very flexible in our scheduling so we can come at the best days for you.
                    Once you hire us, you can trust we will fully take care of any problem and spend time around the clock to make sure you can spend time on the things that matter the most.
                  </p>
                </div>



            </div>

       </div>

   </div>
    <div class="divide_meet_to_work"></div>
</div>
