<div class="container-fluid">
  <div class="row">

        <img class="width-100"  src = "./assets/images/before_1.png"/>
        <img class="width-100" src = "./assets/images/after_1.png"/>

      </div>
  </div>

</div>
