<div class="work_container ">

      <div class="work_inner_container">

        <p class="text-banner work_heading" > What We Clean </p>

        <div class="row margin-top-small work_row">

          <div class="col-12  mobile-col-12 landscape-col-6 work_col">

            <div class="work_image_container">
              <div class="work_overlay"></div>
              <div class="work_image  work_image--1"></div>
              <p class="work_image_banner work_image_banner--left"> Screens</p>
            </div>

          </div>

          <div class="col-12 mobile-col-12 landscape-col-6 work_col">

              <div class="work_image_container">
                <div class="work_overlay"></div>
                <div class="work_image  work_image--2"></div>
                <p class="work_image_banner work_image_banner--right">Window Ledges</p>
              </div>

          </div>

          <div class="col-12  mobile-col-12 landscape-col-6 work_col">

            <div class="work_image_container">
              <div class="work_overlay"></div>
              <div class="work_image  work_image--3"></div>
              <p class="work_image_banner work_image_banner--left"> Window Panels</p>
            </div>

          </div>

          <div class="col-12 mobile-col-12 landscape-col-6 work_col">

              <div class="work_image_container">
                <div class="work_overlay"></div>
                <div class="work_image  work_image--4"></div>
                <p class="work_image_banner work_image_banner--right">Window Frames</p>
              </div>

          </div>

      </div>

  </div>
