<div class="work_container ">

      <div class="work_inner_container">

        <p class="text-banner work_heading" > What We Clean </p>

        <div class="row margin-top-small">

          <div class="col-6 mobile-col-12 landscape-col-6 work_col">

            <div class="width-100">
              <img src = "./assets/images/what_we_do_1.png" class="work_image"/>
              <p class="work_image_banner work_image_banner--left text-banner"> Screens</p>
            </div>

          </div>

          <div class="col-6 mobile-col-12 landscape-col-6 work_col">

            <div class="work_image_container">
              <img src = "./assets/images/what_we_do_2.png" class="work_image"/>
              <p class="work_image_banner work_image_banner--right text-banner"> Window Ledges</p>
            </div>

          </div>

          <div class="col-6  mobile-col-12 landscape-col-6 work_col">

            <div class="work_image_container">
              <img src = "./assets/images/what_we_do_3.png" class="work_image"/>
              <p class="work_image_banner work_image_banner--left text-banner"> Window Panels</p>
            </div>

          </div>

          <div class="col-6 mobile-col-12 landscape-col-6 work_col">

            <div class="work_image_container">
              <img src = "./assets/images/what_we_do_4.png" class="work_image"/>
              <p class="work_image_banner work_image_banner--right text-banner">Window Frames</p>
            </div>

          </div>

      </div>

  </div>
